:root {
    --violet: #751DD3;
    --green: #20D31D;
    --yellow: #D3D01D;
}

@font-face {
    font-family: 'guidy';
    src: url('Guidy.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nuqun';
    src: url('Nuqun.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tovar';
    src: url('Tovar.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

.uncopyable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}


html {
    width: 100%;
    height: 100%;
    background-color: var(--violet);
    display: flex;
    place-items: center;
    flex-direction: column;
}

body {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    place-items: flex-start;
}

.title {
    font-family: 'tovar', sans-serif;
    color: white;
    line-height: 80%;
    letter-spacing: 0.07em;
    font-size: 50pt;
}

.mid-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    place-items: center;
    gap: 3em;
}

.parameters {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.param-wrapper {
    background-color: var(--yellow);
    color: black;
    font-size: 15pt;
    padding: 1em;
    width: 100%;
    font-family: 'guidy', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.param-wrapper input, .param-wrapper select {
    margin-left: auto;  
    width: 50%;
    border: 0;
    min-height: 2.5em;
    height: 100%;
    font-family: 'guidy', sans-serif;
    font-size: 15pt;
    padding-left: 4%;
    padding-right: 4%;
}

.param-wrapper input::placeholder {
    color: black;
    opacity: 40%;
}

.lesson-time {
    width: 8rem !important;
    text-align: center;
}

.result {
    width: 100%;
    background-color: var(--green);
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.result-title-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.result-title-wrapper h2 {
    padding: 0;
    margin: 0;
    font-family: 'nuqun', sans-serif;
    letter-spacing: 0.1em;
    margin-bottom: 1rem;
}

.result-title-wrapper img {
    height: 1.7em;
    margin-left: auto;  
    margin-bottom: 1rem;
    cursor: pointer;
}

.result-text {
    resize: none;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 1em;
    font-family: 'guidy', sans-serif;
    font-size: 13pt;
}
